			<% if comment.user == current_user -%>
			<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui right floated negative mini button" %>
			<% end %>
			
			<%= content_tag_for(:div, comment) do %>
			<p class="ui floated left content"><%= comment.body %><small><BR/>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.username %></small></p>
<!--
<style type="text/css">
/* unvisited link */
a:link {
    color: green;
}
/* visited link */
a:visited {
    color: blue;
}
/* mouse over link */
a:hover {
    color: red;
    background-color:#ffffcc;
}
/* selected link */
a:active {
    color: black;
}
</style>
-->
	<BR/><p><HR/></p><BR/>
<% end %>