<h1>Links</h1>


<script type='text/javascript'>
  $('table').tablesort();
  var tablesort = $('table').data('tablesort');   // Get a reference to it's tablesort instance
  th.sorted.ascending:after {
  content: "  \2191";
  }
  th.sorted.descending:after {
  content: " \2193";
  }
</script>

<table class="ui single line striped sortable celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th class="no-sort">Url</th>
      <th>User</th>
      <th> </th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<style type="text/css">
	
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
    background-color:#ffffcc;
}

/* selected link */
a:active {
    color: black;
}

</style>


  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><div class='ui medium header'><%= link_to link.title, url_with_protocol(link.url), :class => "" %></div></td>
        <td><%= link_to link.url, url_with_protocol(link.url) %></td>
        <td><%#= link.user_id %><%= link_to link.user.username , user_path(link.user)%></td>
        <td class='center aligned'><%= link_to like_link_path(link), method: :put do %><i class="thumbs up icon"></i><%= link.get_upvotes.size %><% end %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to dislike_link_path(link), method: :put do %><i class="thumbs down icon"></i><%= link.get_downvotes.size %><% end %></td>
        <td><%= link.comments.count %></td>
        <td><%= link_to 'Show', link %></td>
<% if user_signed_in? && current_user.id == link.user.id %>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
