<style type="text/css">
/* unvisited link */
a:link {
    color: green;
}
/* visited link */
a:visited {
    color: blue;
}
/* mouse over link */
a:hover {
    color: red;
    background-color:#ffffcc;
}
/* selected link */
a:active {
    color: black;
}
</style>

<h2>
  Title:<strong><%#= @link.title %> <a href="<%= url_with_protocol(@link.url) %><%#= @link.url %>"><%= @link.title %></a></strong>
</h2>
<p class="ui mini">Submitted by <%= link_to @link.user.username, user_path(@link.user) %> on <%= @link.created_at.strftime("%m/%d/%Y") %></p>
<p>Url:
  <%#= @link.url %>
  <strong><%= link_to @link.url,@link.url, class: "normallink"  %></strong>
</p>
<p>
<%= link_to like_link_path(@link), method: :put do %><i class="thumbs up icon"></i><%= @link.get_upvotes.size %><% end %>&nbsp;&nbsp;<%= link_to dislike_link_path(@link), method: :put do %><i class="thumbs down icon"></i><%= @link.get_downvotes.size %><% end %>&nbsp;&nbsp;&nbsp;&nbsp;
<% if user_signed_in? && current_user.id == @link.user.id %>
<%= link_to 'Edit', edit_link_path(@link) %> |
<% end %>

<%= link_to 'Back', links_path %>
</p>

<h3 class="">
	<% if @link.comments.count > 0 %>
		<%= @link.comments.count %>
	<%end%>
		<%= 'Comment'.pluralize(@link.comments.count) %> 
</h3>


<div id="ui form">
  <%= render :partial => @link.comments %>
</div>


<%= simple_form_for [@link, Comment.new] do |f| %>
<%#= simple_form_for [@link, @link.comments.new] do |f| %>
  <div class="ui form">
    <%= f.text_area :body, class: "field" %>
  </div>
  <%= f.submit "Add Comment", class: "ui submit button" %>
<% end %>